{{> aside}}
{{> header}}



<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Posts</h5>
            <!--end::Page Title-->

        </div>
        <!--end::Toolbar-->
    </div>
</div>
<!--end::Subheader-->












            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid mt-10">
                <div class="container">
                    <!--begin::Card-->
                    <div class="card card-custom">
                            <div class="card-toolbar">


                        </div>
                            <div class="card-body">
                                <!--begin: Datatable-->
                                <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Image</th>
                                    <th>Created Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                            <!--end: Datatable-->
                        </div>
                    </div>
                    <!--end::Card-->









            <script language="javascript">






                /*    $.ajax({
                        type: "GET",
                        url: "<?php // echo site_url('Postd_click');?>",
                        dataType: "html",
                        success: function(data){
                            $("#table-container").html(data);

                        }
                    });

                    function blogdelete()
                    {
                        window.location.href = "http://localhost/admin/login/Blog_delete";
                    }

                    function blogedit()
                    {
                        window.location.href = "http://localhost/admin/login/Blog_edit";
                    }     */
            </script>



            <script src="scripts/post.js"></script>
            <!--end::Page Scripts-->
                <script src="assets/js/pages/crud/datatables/basic/scrollable.js"></script>
        </div>
    </div>
    <!--end::Body-->
</div>
<!--end::Advance Table Widget 4-->

{{> fotter}}