<!DOCTYPE html>
<html>

<!-- Mirrored from themerange.net/html/merix/merix/news-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Feb 2021 21:30:52 GMT -->
<head>
    <meta charset="utf-8">
    <title>Merix Creative Digital Agency HTML-5 Template | Blog Detail</title>
    <!-- Stylesheets -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/responsive.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Color Switcher Mockup -->
    <link href="../assets/css/color-switcher-design.css" rel="stylesheet">

    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="../assets/js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">
<!-- Content Side --><center>
<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader">
        <div class="box"></div>
    </div>



    <section class="services-section-two style-two">
        <div class="auto-container bg-light">


                <div class="col-lg-8 col-md-12 col-sm-12 mt-10">
                    <!-- News Detail -->
                    <div class="news-detail">
                        <div class="inner-box">
                            <div class="image">
                                <h2 class="text-dark mt-5 p-3  ">{{this.title}}</h2>
                                <img src="{{this.image}}" alt="" />
                            </div>
                            <div class="lower-content">
                                <h2>{{this.short_des}}</h2>
                                <p class="text-justify mb-5 p-3">{{this.des}}</p>

                            </div>
                        </div>

                    </div>
                </div>

        </div>
    </section>


</div>

                <!-- Sidebar Side -->

<!-- Scroll To Top -->
<div class="back-to-top scroll-to-target show-back-to-top" data-target="html">TOP</div>

<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../assets/js/jquery.fancybox.js"></script>
<script src="../assets/js/appear.js"></script>
<script src="../assets/js/parallax.min.js"></script>
<script src="../assets/js/tilt.jquery.min.js"></script>
<script src="../assets/js/jquery.paroller.min.js"></script>
<script src="../assets/js/owl.js"></script>
<script src="../assets/js/wow.js"></script>
<script src="../assets/js/mixitup.js"></script>
<script src="../assets/js/nav-tool.js"></script>
<script src="../assets/js/jquery-ui.js"></script>
<script src="../assets/js/script.js"></script>
<script src="../assets/js/color-settings.js"></script>
</center>>
</body>

<!-- Mirrored from themerange.net/html/merix/merix/news-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Feb 2021 21:30:55 GMT -->
</html>